body{
    margin: 0;
    display: flex;
    flex-direction: column;

}

.header{
    background-color: #1F2937;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    height: 80px;
}
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
.logo{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    flex: 1;
}
.content{

    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) ;
    padding-bottom: 3rem ;
    padding-top: 1rem ;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    flex-direction: row-reverse ;
    align-items: center ;
    --bs-gutter-x: 3rem;
    --bs-gutter-y: 3rem;
    --bs-bg-opacity: 1;
    background-color: #1F2937;
}

.links{
    display: flex;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    color: #6c757d;
    transition: none;
    flex: 1;
}
.links:hover, .links:focus {
    color: #0a58ca;
    color: #565e64;
}
.but{
    width: 20px;
    background-color: #3882F6; 
    color: white; 
    border: 1px solid #1F2937;
    font-size: 14px;
    border-radius: 3px;
    padding: 4px 18px;
}
.but:hover {
    background-color: white;
    color: #1F2937;
  }
.left{
    flex: 0 0 auto;
    width: 37.5%;

}

.h1{
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 300;
    line-height: 1.2;
    font-weight: 700 ;
}

p{
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
}

.right{
    flex: 0 0 auto;
    width: 58%;
}
.mx-lg-auto {
    margin-right: auto ;
    margin-left: auto ;
  }


.d-block {
  display: block ;
}

.img-fluid {
  max-width: 70%;
  height: auto;
}
h1{
    font-family: 'light italic', sans-serif;
    color: white;
}

li{
    list-style-type: none;
    color: white;
    font-family: 'light italic', sans-serif;
}

.info{
    
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937 ;
    text-align: center;
}
.images{

    padding: 16px;
flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  



.cat{
    width:180px ;
    height:180px;
    border-radius: 5%;
    
}
.txt{
    width: 150px;
    text-align: center;
    padding-left: 10px;
    font-family: 'light italic', sans-serif;
}

.third{
    height: 330px;
background-color: #E5E7EB;
display: flex;
justify-content: center;
align-items: center;
}

.Cuate{
    font-size: 25px;
    width: 650px;
    font-family: 'light italic', sans-serif;
    color: #1F2937;
}
.dexter{
    display: flex;
    justify-content: end;
    font-weight: bold;
}

.fourth{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 100px;
    width: 820px;
    border: #3882F6;
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.txtus{
    color: #fff;
    font-family: 'light italic', sans-serif;
}

.button {
    background-color: #3882F6; 
    color: white; 
    border: 1px solid white;
    font-size: 15px;
    border-radius: 3px;
    padding: 4px 18px;
  }
  
.button:hover {
    background-color: white;
    color: #3882F6;
  }
.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 60px;

  }
.copy{
    color: #fff;
    font-family: 'light italic', sans-serif;
}