body{
    margin: 0;
    display: flex;
    flex-direction: column;

}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 150px;
    padding-bottom: 80px;
}
.logo{
    width: 50px;
    height: 50px;
}
.content{
    height: 300px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding:0 150px;
    align-items: flex-start;
}

.links{
    display: flex;
    gap: 50px;
    list-style-type: none;
    
}

.but{
    width: 20px;
    background-color: #3882F6; 
    color: white; 
    border: 1px solid #1F2937;
    font-size: 14px;
    border-radius: 3px;
    padding: 4px 18px;
}
.but:hover {
    background-color: white;
    color: #1F2937;
  }
.left{
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    padding-right: 40px;
    
}

.h1{
    font-family: hero main;
    margin-top: 0;
    font-size: xxx-large;
    margin-bottom: 0;
    font-family: 'light italic', sans-serif;
}

p{
    color: white;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'light italic', sans-serif;
}

.right{
display: flex;
flex: 1 0 0;
justify-content: flex-end;

}

h1{
    font-family: 'light italic', sans-serif;
    color: white;
}

li{
    color: white;
    font-family: 'light italic', sans-serif;
}

.info{
    
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937 ;
    text-align: center;
}
.images{
    display: flex;
    padding:0 150px;
    justify-content: space-around;
    padding-top: 30px;
    height: 300px;
}

.cat{
    width:180px ;
    height:180px;
    border-radius: 5%;
    
}
.txt{
    width: 150px;
    text-align: center;
    padding-left: 10px;
    font-family: 'light italic', sans-serif;
}

.third{
    height: 330px;
background-color: #E5E7EB;
display: flex;
justify-content: center;
align-items: center;
}

.Cuate{
    font-size: 25px;
    width: 650px;
    font-family: 'light italic', sans-serif;
    color: #1F2937;
}
.dexter{
    display: flex;
    justify-content: end;
    font-weight: bold;
}

.fourth{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 100px;
    width: 820px;
    border: #3882F6;
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.txtus{
    color: #fff;
    font-family: 'light italic', sans-serif;
}

.button {
    background-color: #3882F6; 
    color: white; 
    border: 1px solid white;
    font-size: 15px;
    border-radius: 3px;
    padding: 4px 18px;
  }
  
.button:hover {
    background-color: white;
    color: #3882F6;
  }
.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 60px;

  }
.copy{
    color: #fff;
    font-family: 'light italic', sans-serif;
}